// main: style.less
.btn-custom {
  padding: 16px 32px;
  border-radius: 40px;
  transition: @transition;
}

.btn-custom-secondary {
  background-color: @secondary-patidar;
  color: @white!important;
  &:hover {
    background-color: lighten(@secondary-patidar, 15%);
    color: @white;
  }
}

.btn-custom-secondary-border {
  border: 1px solid @secondary-patidar;
  color: @secondary-patidar!important;
  &:hover {
    color: lighten(@secondary-patidar, 20%);
    border-color: lighten(@secondary-patidar, 20%);
  }
}

.btn-custom-primary {
  background: @gradient-primary;
  color: @white;
  &:hover {
    opacity: 0.8;
    color: @white;
  }
}

.btn-custom-text {
  color: @black;
  &:hover {
    color: lighten(@black, 40%);
  }
}

@media @breakpoint-mobile {
  .btn-custom {
    padding: 10px 22px;
    font-size: 14px;
  }
}

.btn-account {
  width: 100%;
  text-align: center;
  border: 1px solid @secondary-patidar;
  padding: 9px 32px;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
