@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
body {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 767px) {
  h2 {
    font-size: 28px;
  }
}
h3 {
  font-size: 28px;
  font-weight: 600;
}
@media (max-width: 767px) {
  h3 {
    font-size: 24px;
  }
}
h4 {
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 767px) {
  h4 {
    font-size: 20px;
  }
}
h5 {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 767px) {
  h5 {
    font-size: 18px;
  }
}
.text-block ul {
  list-style: none;
  margin-bottom: 16px;
  padding-left: 6px;
  margin-left: 16px;
}
.text-block ul li {
  list-style-image: url(../img/icon-list.svg);
  padding-left: 8px;
  margin-bottom: 8px;
}
.text-block ul li :before {
  content: "";
}
.text-block ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  padding: 0;
}
.text-block ol li {
  counter-increment: my-awesome-counter;
  margin-bottom: 16px;
}
.text-block ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #5a2230;
  font-weight: bold;
  margin-right: 12px;
}
img {
  max-width: 100%;
  height: auto;
}
.neutral-gradient {
  background: linear-gradient(243.34deg, #fbfbfb 0%, #efefef 100.49%);
}
.section-mb {
  margin-bottom: 56px;
}
@media (max-width: 767px) {
  .section-mb {
    margin-bottom: 32px;
  }
}
.bg-pattern {
  background-image: url(..//img/img-bg-pattern.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .bg-pattern {
    background-size: auto;
  }
}
.btn-group-custom .btn {
  margin: 0 6px 12px 6px;
}
.img-with-tags {
  position: relative;
}
.img-with-tags::before {
  content: "Communicate";
  position: absolute;
  background: #5a2230;
  color: #ffffff;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 40px;
  top: 32px;
  left: -24px;
}
@media (max-width: 767px) {
  .img-with-tags::before {
    padding: 8px 16px;
    font-size: 12px;
    top: 24px;
    left: -8px;
  }
}
.img-with-tags::after {
  content: "Build a relationship";
  position: absolute;
  background: linear-gradient(90deg, #d2611a 0%, #d29971 100%);
  color: #ffffff;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 40px;
  top: 100px;
  left: -24px;
}
@media (max-width: 767px) {
  .img-with-tags::after {
    padding: 8px 16px;
    font-size: 12px;
    top: 64px;
    left: -8px;
  }
}
.upperline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #e2b090;
}
.bodytext-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #5a2230;
  text-decoration: none;
}
.bodytext-link:hover {
  color: #a43e57;
}
.page-title {
  text-align: center;
  margin-bottom: 56px;
}
@media (max-width: 767px) {
  .page-title {
    margin-bottom: 24px;
  }
}
.page-title h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .page-title h1 {
    font-size: 20px;
    line-height: 1.2;
  }
}
.page-title .subtitle {
  font-size: 20px;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .page-title .subtitle {
    font-size: 18px;
  }
}
.img-rounded {
  border-radius: 16px;
}
.deep-shadow {
  box-shadow: 0px 11px 34px rgba(0, 0, 0, 0.18);
}
i.icon-file {
  content: url(..//img/icon-attach.svg);
  margin-right: 8px;
}
.file-uploaded {
  color: #354753;
  display: flex;
}
.file-uploaded a {
  font-weight: 600;
  color: #354753;
}
.profile .profile-photo a img {
  border-radius: 16px;
  width: 100%;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .profile .profile-photo {
    display: none;
  }
}
.profile .profile-photo .profile-photo__additional {
  display: flex;
}
.profile .profile-photo .profile-photo__additional a {
  width: 50%;
}
.profile .profile-photo .profile-photo__additional a + a {
  margin-left: 16px;
}
.profile .profile-photo-mobile {
  display: none;
}
@media (max-width: 767px) {
  .profile .profile-photo-mobile {
    display: block;
    border-radius: 8px;
  }
}
.profile .btns {
  margin-top: 24px;
}
.profile .btns a {
  margin-bottom: 12px;
}
.profile .location {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 8px;
}
.profile .location:before {
  content: url(..//img/icon-loc.svg);
  margin-right: 4px;
}
.profile .logout {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 18px;
}
.profile .logout:before {
  content: url(..//img/icon-logout.svg);
  margin-right: 4px;
}
.profile .logout a {
  font-weight: 600;
  color: #354753;
  text-decoration: none;
}
.profile aside {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .profile aside {
    margin-bottom: 24px;
  }
}
.profile aside h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.profile aside h2 span {
  font-size: 18px;
  font-weight: 500;
}
.profile aside ul {
  list-style: none;
  padding-left: 0;
}
.profile aside ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 12px;
}
.profile aside ul.muted {
  opacity: 0.6;
}
@media (max-width: 767px) {
  .profile aside ul {
    display: none;
  }
}
.profile .profile-content {
  padding-left: 32px;
}
.profile .profile-content h1 {
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
}
.profile .profile-content h1 span {
  font-weight: 500;
  font-size: 28px;
}
@media (max-width: 767px) {
  .profile .profile-content h1 span {
    font-size: 20px;
  }
}
.profile .profile-content .favourites_title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile .profile-content .favourites_title .favourites_number {
  display: inline-flex;
  background-color: #5a2230;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  margin-left: 12px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .profile .profile-content {
    padding-left: 0;
  }
  .profile .profile-content h1 {
    font-size: 20px;
    line-height: 1.2;
  }
}
.profile .profile-content a {
  font-weight: 600;
  color: #5a2230;
  text-decoration: none;
}
.accordion-account-info {
  display: none;
}
@media (max-width: 767px) {
  .accordion-account-info {
    display: block;
  }
}
.accordion-account-info .accordion-body {
  padding-bottom: 2px;
}
.accordion-account-info .accordion-body .profile-info li {
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .accordion-account-info .accordion-body .profile-info {
    display: block;
    margin-bottom: 0;
  }
}
.accordion-button:not(.collapsed) {
  color: #4d4d4d;
  background-color: #fff;
  box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(..//img/icon-arrow.svg);
}
.alert-secondary {
  background-color: #f3f5f8;
  border-color: #94a2ab;
}
.carousel-custom {
  margin-bottom: 64px !important;
}
.carousel-custom .slick-next {
  top: auto;
  bottom: -56px;
  right: 0px;
  width: 31px;
  height: 31px;
}
.carousel-custom .slick-next:before {
  content: url(..//img/icon-arrow-next.svg);
  border: 1px solid #5a2230;
  padding: 2px 12px 7px 12px;
  border-radius: 2px;
  width: 31px;
  height: 31px;
}
.carousel-custom .slick-prev {
  top: auto;
  bottom: -56px;
  left: 0px;
  width: 31px;
  height: 31px;
}
.carousel-custom .slick-prev:before {
  content: url(..//img/icon-arrow-prev.svg);
  border: 1px solid #5a2230;
  padding: 2px 12px 7px 12px;
  border-radius: 2px;
  width: 31px;
  height: 31px;
}
.carousel-custom .slick-dots {
  bottom: -38px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.carousel-custom .slick-dots li button:before {
  color: #5a2230;
}
.carousel-responsive .carousel-responsive-element .card-custom {
  padding: 0 16px;
}
.carousel-adv .carousel-adv-element {
  margin-right: 12px;
}
.hiden-contacts p {
  margin-bottom: 8px;
}
.hiden-contacts p a {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #354753;
}
.deactivated-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #354753;
}
.registration-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.registration-photo .profile-photo {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .registration-photo .profile-photo {
    align-items: stretch;
    flex-direction: column;
  }
}
.registration-photo .profile-photo img {
  border-radius: 16px;
}
@media (max-width: 767px) {
  .registration-photo .profile-photo img {
    border-radius: 8px;
    margin-bottom: 12px;
  }
}
.registration-photo .profile-photo .profile-photo__additional {
  display: flex;
  width: calc(50% - 8px);
  flex-direction: column;
  margin-left: 7px;
}
@media (max-width: 767px) {
  .registration-photo .profile-photo .profile-photo__additional {
    width: auto;
    flex-direction: row;
    margin-left: 0;
  }
}
.registration-photo .profile-photo .profile-photo__additional img {
  max-width: 156px;
  margin-bottom: 6px;
}
@media (max-width: 767px) {
  .registration-photo .profile-photo .profile-photo__additional img {
    max-width: auto;
    width: calc(50% - 8px);
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.registration-photo .profile-photo .profile-photo__additional img:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .registration-photo .profile-photo .profile-photo__additional img:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .manage-profile aside {
    display: none;
  }
}
.preview1 {
  text-align: center;
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin-left: 10px;
  border: 1px solid #5a2230;
}
@media (max-width: 991px) {
  .preview1 {
    width: 130px !important;
    height: 130px !important;
  }
}
@media (max-width: 767px) {
  .preview1 {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.preview2 {
  text-align: center;
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin-left: 10px;
  border: 1px solid #5a2230;
}
@media (max-width: 991px) {
  .preview2 {
    width: 130px !important;
    height: 130px !important;
  }
}
@media (max-width: 767px) {
  .preview2 {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.preview {
  text-align: center;
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin-left: 10px;
  border: 1px solid #5a2230;
}
@media (max-width: 991px) {
  .preview {
    width: 130px !important;
    height: 130px !important;
  }
}
@media (max-width: 767px) {
  .preview {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.cropper-container {
  width: 100% !important;
}
.coming-soon {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.coming-soon__text-block {
  width: 100%;
  background-image: url("../img/bg__cooming-soon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 6vh;
  padding-top: 98px;
}
.coming-soon__text-block h1 {
  color: #000000;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 56px;
}
.coming-soon__text-block p {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 767px) {
  .coming-soon__text-block h1 {
    font-size: 3rem;
    margin-bottom: 32px;
  }
  .coming-soon__text-block p {
    font-size: 1rem;
  }
}
.header-custom {
  padding: 56px 0;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header-custom {
    padding: 24px 0;
  }
}
.header-custom .brand {
  margin-right: auto;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 991px) {
  .header-custom .brand img {
    width: 180px;
  }
}
@media (max-width: 767px) {
  .header-custom .brand {
    margin-right: 0;
    margin-top: 20px;
  }
}
.header__log-out {
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 767px) {
  .header__log-out {
    flex-direction: column-reverse;
  }
}
.header__log-out:hover {
  opacity: 0.8;
}
.header__log-out img {
  max-width: 250px;
}
@media (max-width: 767px) {
  .header__log-out img {
    max-width: 180px;
  }
}
.header__log-out .nav {
  align-items: center;
}
.header__log-in .nav {
  align-items: center;
}
@media (max-width: 767px) {
  .header__log-in .nav {
    flex-direction: column;
    align-items: flex-end;
  }
}
.header__log-in .nav .nav-item .nav-link {
  color: #354753;
}
@media (max-width: 767px) {
  .header__log-in .nav .nav-item .nav-link {
    padding: 1rem;
    font-size: 14px;
  }
}
.header__log-in .nav .nav-item .nav-link img {
  margin-right: 12px;
}
@media (max-width: 991px) {
  .header__log-in .nav .nav-item .nav-link img {
    width: 24px;
    margin-right: 4px;
  }
}
.muted .nav-link {
  opacity: 0.2;
}
.offcanvas-top {
  height: auto;
}
.offcanvas-top .offcanvas-header {
  justify-content: flex-end;
}
.offcanvas-top .offcanvas-header .btn-close {
  background-image: url(..//img/icon-cross.svg);
}
.navbar-light .navbar-toggler {
  border: 0;
}
.navbar-light .navbar-toggler .navbar-toggler-icon {
  background-image: url(..//img/icon-toggler.svg);
  width: 1em;
  height: 1em;
}
.hero {
  margin-bottom: 72px;
}
@media (max-width: 767px) {
  .hero {
    margin-bottom: 32px;
  }
}
.hero h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .hero h1 {
    font-size: 20px;
    line-height: 1.2;
  }
}
.hero p {
  font-size: 20px;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .hero p {
    font-size: 18px;
  }
}
.hero .hero-inner {
  text-align: center;
}
.hero .hero-inner .btn-group-custom {
  margin-top: 40px;
}
@media (max-width: 767px) {
  .hero .hero-inner .btn-group-custom {
    margin-top: 20px;
  }
}
.alert-promo {
  background-color: #5a2230;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
}
.alert-promo .alert-link {
  color: #ffffff;
  text-decoration: none;
}
.about-promo {
  padding-bottom: 56px;
}
@media (max-width: 767px) {
  .about-promo {
    padding-bottom: 32px;
  }
}
.about-promo h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .about-promo h2 {
    font-size: 22px;
    margin-bottom: 16px;
  }
}
.about-promo h2 span {
  font-weight: 400;
  font-size: 28px;
}
@media (max-width: 767px) {
  .about-promo h2 span {
    font-size: 18px;
  }
}
ol.ol-promo {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin-block-start: 0;
  padding-left: 0;
}
ol.ol-promo li {
  counter-increment: my-awesome-counter;
  display: flex;
  margin-bottom: 8px;
}
ol.ol-promo li h4 {
  font-weight: 700;
  font-size: 18px;
}
@media (max-width: 767px) {
  ol.ol-promo li h4 {
    font-size: 16px;
  }
}
ol.ol-promo li:before {
  content: counter(my-awesome-counter) "";
  background: url(..//img/img-bg-ol-li.svg);
  background-repeat: no-repeat;
  color: #000000;
  font-weight: bold;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  flex-shrink: 0;
}
.features {
  background-color: #5a2230;
  padding: 72px 0;
  color: #ffffff;
}
.features h3 {
  font-size: 30px;
  font-weight: 500;
}
.features h3 span {
  color: #e2b090;
}
.features .features-group {
  display: flex;
  flex-wrap: wrap;
}
.features .features-group .features-block {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 8px;
}
@media (max-width: 767px) {
  .features .features-group .features-block {
    width: 100%;
  }
}
.features .features-group .features-block p {
  margin-bottom: 0;
}
.features .features-group .features-block img {
  margin-right: 12px;
}
.about-us img {
  border-radius: 16px;
  box-shadow: 0px 11px 34px rgba(0, 0, 0, 0.18);
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .about-us img {
    margin-bottom: 24px;
  }
}
.about-us h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .about-us h3 {
    font-size: 22px;
  }
}
.join-section {
  background-color: #f3f3f3;
  padding: 56px 0;
  text-align: center;
}
.join-section h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
}
footer {
  background-color: #f3f3f3;
}
footer .footer-inner {
  padding: 16px 0;
}
footer .footer-inner .nav-link {
  color: #5a2230;
}
@media (max-width: 1220px) {
  footer .footer-inner .nav-link {
    padding: 12px;
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  footer .footer-inner .nav-link {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  footer .footer-inner .nav {
    margin: 12px 0;
  }
}
footer .muted {
  opacity: 0.6;
  font-size: 14px;
  text-align: center;
}
footer.footer-split .footer-inner {
  border-top: 1px solid #dedede;
}
.image-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  .image-block {
    justify-content: flex-start;
  }
}
.image-block img {
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .image-block img {
    margin-bottom: 12px;
  }
}
.form-custom {
  background-color: #f3f3f3;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0px 17px 40px 0px #0000000d, 0px 5px 12px 0px #0000000f, 0px 1px 1px 0px #00000014;
}
@media (max-width: 767px) {
  .form-custom {
    padding: 24px 16px;
  }
}
@media (max-width: 1220px) {
  .form-custom {
    padding: 24px 16px;
  }
}
.form-custom .g-recaptcha {
  display: flex;
  justify-content: center;
}
.form-custom .form-control,
.form-custom .form-select {
  border-radius: 16px;
  border-color: transparent;
  font-weight: 400;
}
.form-custom .close-input input {
  border-top-right-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}
.form-custom .close-input .btn-close {
  height: 76px;
  padding-left: 24px;
}
.form-custom a {
  color: #5a2230;
  text-decoration: none;
  font-weight: 600;
}
.form-custom a:hover {
  color: #a43e57;
}
.form-custom input[type="file"] {
  color: #adafb1;
}
.form-custom input[type="file"]::file-selector-button {
  background-color: #ece0d9;
  color: #5a2230;
  height: 58px;
}
.form-custom .input-group-text {
  color: #212529;
  background-color: white;
  border: 0;
  border-radius: 16px;
  padding-left: 15px;
  padding-right: 15px;
}
.form-custom h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 767px) {
  .form-custom h3 {
    font-size: 18px;
  }
}
.form-custom .form-control {
  padding: 1rem 0.75rem;
}
.form-custom .input-group-search button {
  background-color: #ffffff;
  border-radius: 16px;
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .form-custom .form-floating label {
    font-size: 12px;
  }
}
.form-custom .form-floating label .dateOfBirth {
  font-size: 12px;
}
.form-plain-text-custom label {
  color: #354753;
  opacity: 0.7;
  font-size: 14px;
}
.form-plain-text-custom a {
  color: #5a2230;
  text-decoration: none;
  font-weight: 600;
}
.form-plain-text-custom .form-control-plaintext {
  color: #000000;
}
.nav-steps {
  margin-bottom: 32px;
  position: relative;
  flex-wrap: nowrap;
}
.nav-steps:before {
  content: "";
  background: url(..//img/bg-steps-line.svg);
  background-repeat: repeat-x;
  padding: 0 60px;
  position: absolute;
  width: calc(100% - 144px);
  left: 72px;
  height: 2px;
  margin-top: 33px;
  z-index: -1;
}
.nav-steps .nav-item-steps {
  text-align: center;
  flex: 1;
}
.nav-steps .nav-item-steps i.step-icon {
  content: url(..//img/icon-step-def.svg);
}
.nav-steps .nav-item-steps a {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
@media (max-width: 767px) {
  .nav-steps .nav-item-steps a {
    font-size: 12px;
  }
}
.nav-steps .nav-item-steps a:hover {
  color: #333333;
}
.nav-steps .nav-item-steps-active i.step-icon {
  content: url(..//img/icon-step-act.svg);
}
.nav-steps .nav-item-steps-active a {
  color: #5a2230;
}
.nav-steps .nav-item-steps-active a:hover {
  color: #a43e57;
}
.nav-steps .nav-item-steps-next i.step-icon {
  content: url(..//img/icon-step-next.svg);
  margin: 11px 0;
}
.error-wrap {
  background-repeat: repeat-x;
  background-size: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-wrap .error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.error-wrap .error-page img {
  margin-bottom: 24px;
}
.badge-custom {
  border-radius: 2px;
  padding: 2px 6px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.badge-custom-fade {
  color: #354753;
  background-color: #e0e7ec;
  opacity: 0.6;
}
.muted {
  opacity: 0.6;
}
.card-custom {
  margin-bottom: 24px;
}
.card-custom img {
  border-radius: 16px;
  margin-bottom: 16px;
}
.card-custom .card-description h3 {
  font-size: 18px;
}
@media (max-width: 991px) {
  .card-custom .card-description h3 {
    font-size: 14px;
  }
}
.card-custom .card-description h3 span {
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .card-custom .card-description h3 span {
    font-size: 12px;
  }
}
.card-custom .card-description .location {
  font-size: 14px;
}
@media (max-width: 991px) {
  .card-custom .card-description .location {
    font-size: 14px;
  }
}
.card-custom .card-action.card-action-remove a {
  color: #354753;
}
.card-custom .card-action.card-action-remove a:before {
  content: url(..//img/icon-fav-remove.svg);
}
.card-custom .card-action.card-action-add a {
  color: #e2b090;
}
.card-custom .card-action.card-action-add a:before {
  content: url(..//img/icon-star-primary.svg);
}
.card-custom .card-action.card-action-saved a {
  color: #5a2230;
}
.card-custom .card-action.card-action-saved a:before {
  content: url(..//img/icon-star-secondary.svg);
}
.card-custom .card-action a {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.card-custom .card-action a:before {
  margin-right: 4px;
  line-height: 1;
}
.pagination-custom .page-item .page-link {
  border: 0;
}
.pagination-custom .page-item .page-link:hover {
  background-color: transparent;
  border-color: #a43e57;
  color: #a43e57;
}
.pagination-custom .page-item .page-link-btn {
  border: 1px solid #5a2230;
  border-radius: 6px;
  margin: 0 4px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 2px 3px 2px;
}
.pagination-custom .page-item .page-link-btn img {
  max-width: inherit;
}
.pagination-custom .page-item:first-child .page-link {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-custom .page-item:last-child .page-link {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.modal-custom .modal-header {
  border: 0;
  padding: 2rem 2rem 0 2rem;
}
.modal-custom .modal-footer {
  border: 0;
  justify-content: center;
  padding: 0 2rem 2rem 2rem;
}
.modal-custom .modal-body {
  text-align: center;
  padding: 2rem 2rem 0 2rem;
}
.modal-custom .modal-body h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
  text-transform: uppercase;
}
.modal-custom.alarm h3 {
  color: #5a2230;
}
.modal-custom.success h3 {
  color: #e2b090;
}
.link-light {
  font-weight: 400 !important;
}
.badge-custom {
  padding: 2px 6px;
  background: #ecf1f4;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #354753;
  margin-bottom: 18px;
  width: fit-content;
}
.loader .pageLoader {
  background: url(..//img/spinner.gif) no-repeat center center;
  background-size: 200px 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
  background-color: #ffffff8c;
}
.loaders {
  display: flex;
  flex-wrap: wrap;
  counter-reset: list;
}
.loaders div {
  position: relative;
  margin: 0 100px;
}
.loaders div::before {
  counter-increment: list;
  content: counter(list, decimal-leading-zero);
  position: absolute;
  top: -20px;
  left: -25px;
  font-size: 16px;
}
.loader1 span {
  display: block;
  width: 70px;
  height: 70px;
  border: 3px solid;
  border-radius: 50%;
  border-color: transparent #d2611a #d29971;
  animation: cssload-spin 690ms infinite linear;
}
@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
  }
}
.loader2 {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader2 span {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #000;
  border-radius: 50%;
  animation: loading2 1.2s linear infinite;
}
.loader2 span:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
.loader2 span:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
.loader2 span:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
.loader2 span:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
.loader2 span:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
.loader2 span:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
.loader2 span:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
.loader2 span:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
.loader2 span:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
.loader2 span:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
.loader2 span:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
.loader2 span:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes loading2 {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
.btn-custom {
  padding: 16px 32px;
  border-radius: 40px;
  transition: all 0.4s ease-in-out;
}
.btn-custom-secondary {
  background-color: #5a2230;
  color: #ffffff !important;
}
.btn-custom-secondary:hover {
  background-color: #92374e;
  color: #ffffff;
}
.btn-custom-secondary-border {
  border: 1px solid #5a2230;
  color: #5a2230 !important;
}
.btn-custom-secondary-border:hover {
  color: #a43e57;
  border-color: #a43e57;
}
.btn-neutal-secondary-border {
  border: 1px solid #354753;
  color: #354753 !important;
}
.btn-neutal-secondary-border:hover {
  color: #5d7c91;
  border-color: #5d7c91;
}
.btn-custom-primary {
  background: linear-gradient(90deg, #d2611a 0%, #d29971 100%);
  color: #ffffff;
}
.btn-custom-primary:hover {
  opacity: 0.8;
  color: #ffffff;
}
.btn-custom-text {
  color: #000000;
}
.btn-custom-text:hover {
  color: #666666;
}
@media (max-width: 767px) {
  .btn-custom {
    padding: 10px 22px;
    font-size: 14px;
  }
}
.btn-account {
  width: 100%;
  text-align: center;
  border: 1px solid #5a2230;
  padding: 9px 32px;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
