.btn-custom {
  padding: 16px 32px;
  border-radius: 40px;
  transition: all 0.4s ease-in-out;
}
.btn-custom-secondary {
  background-color: #5a2230;
  color: #ffffff;
}
.btn-custom-secondary:hover {
  background-color: #92374e;
  color: #ffffff;
}
.btn-custom-secondary-border {
  border: 1px solid #5a2230;
  color: #5a2230;
}
.btn-custom-secondary-border:hover {
  color: #a43e57;
  border-color: #a43e57;
}
.btn-custom-primary {
  background: linear-gradient(90deg, #d2611a 0%, #d29971 100%);
  color: #ffffff;
}
.btn-custom-primary:hover {
  opacity: 0.8;
  color: #ffffff;
}
.btn-custom-text {
  color: #000000;
}
.btn-custom-text:hover {
  color: #666666;
}
@media (max-width: 768px) {
  .btn-custom {
    padding: 10px 22px;
    font-size: 14px;
  }
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
body {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}
h3 {
  font-size: 28px;
  font-weight: 600;
}
@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
}
h4 {
  font-size: 24px;
  font-weight: 600;
}
@media (max-width: 768px) {
  h4 {
    font-size: 20px;
  }
}
h5 {
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 768px) {
  h5 {
    font-size: 18px;
  }
}
.text-block ul {
  list-style: none;
  margin-bottom: 16px;
  padding-left: 6px;
  margin-left: 16px;
}
.text-block ul li {
  list-style-image: url(../img/icon-list.svg);
  padding-left: 8px;
  margin-bottom: 8px;
}
.text-block ul li :before {
  content: "";
}
.text-block ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  padding: 0;
}
.text-block ol li {
  counter-increment: my-awesome-counter;
  margin-bottom: 16px;
}
.text-block ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #5a2230;
  font-weight: bold;
  margin-right: 12px;
}
img {
  max-width: 100%;
  height: auto;
}
.neutral-gradient {
  background: linear-gradient(243.34deg, #fbfbfb 0%, #efefef 100.49%);
}
.section-mb {
  margin-bottom: 56px;
}
@media (max-width: 768px) {
  .section-mb {
    margin-bottom: 32px;
  }
}
.bg-pattern {
  background-image: url(..//img/img-bg-pattern.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .bg-pattern {
    background-size: auto;
  }
}
.btn-group-custom .btn {
  margin: 0 6px 12px 6px;
}
.img-with-tags {
  position: relative;
}
.img-with-tags::before {
  content: "Communicate";
  position: absolute;
  background: #5a2230;
  color: #ffffff;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 40px;
  top: 32px;
  left: -24px;
}
@media (max-width: 768px) {
  .img-with-tags::before {
    padding: 8px 16px;
    font-size: 12px;
    top: 24px;
    left: -8px;
  }
}
.img-with-tags::after {
  content: "Build a relationship";
  position: absolute;
  background: linear-gradient(90deg, #d2611a 0%, #d29971 100%);
  color: #ffffff;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 40px;
  top: 100px;
  left: -24px;
}
@media (max-width: 768px) {
  .img-with-tags::after {
    padding: 8px 16px;
    font-size: 12px;
    top: 64px;
    left: -8px;
  }
}
.upperline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #e2b090;
}
.bodytext-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #5a2230;
  text-decoration: none;
}
.bodytext-link:hover {
  color: #a43e57;
}
.page-title {
  text-align: center;
  margin-bottom: 56px;
}
@media (max-width: 768px) {
  .page-title {
    margin-bottom: 24px;
  }
}
.page-title h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .page-title h1 {
    font-size: 20px;
    line-height: 1.2;
  }
}
.page-title .subtitle {
  font-size: 20px;
}
@media (max-width: 768px) {
  .page-title .subtitle {
    font-size: 18px;
  }
}
.img-rounded {
  border-radius: 16px;
}
.deep-shadow {
  box-shadow: 0px 11px 34px rgba(0, 0, 0, 0.18);
}
.coming-soon {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.coming-soon__text-block {
  width: 100%;
  background-image: url("../img/bg__cooming-soon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 6vh;
  padding-top: 98px;
}
.coming-soon__text-block h1 {
  color: #000000;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 56px;
}
.coming-soon__text-block p {
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 768px) {
  .coming-soon__text-block h1 {
    font-size: 3rem;
    margin-bottom: 32px;
  }
  .coming-soon__text-block p {
    font-size: 1rem;
  }
}
.header-custom {
  padding: 56px 0;
}
@media (max-width: 768px) {
  .header-custom {
    padding: 24px 0;
  }
}
.header__log-out {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 768px) {
  .header__log-out {
    flex-direction: column-reverse;
  }
}
.header__log-out .brand {
  margin-right: auto;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 768px) {
  .header__log-out .brand {
    margin-right: 0;
    margin-top: 20px;
  }
}
.header__log-out .brand:hover {
  opacity: 0.8;
}
.header__log-out .brand img {
  max-width: 250px;
}
@media (max-width: 768px) {
  .header__log-out .brand img {
    max-width: 180px;
  }
}
.header__log-out .nav {
  align-items: center;
}
h2 .hero {
  margin-bottom: 72px;
}
@media (max-width: 768px) {
  h2 .hero {
    margin-bottom: 32px;
  }
}
h2 .hero h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h2 .hero h1 {
    font-size: 20px;
    line-height: 1.2;
  }
}
h2 .hero p {
  font-size: 20px;
}
@media (max-width: 768px) {
  h2 .hero p {
    font-size: 18px;
  }
}
h2 .hero .hero-inner {
  text-align: center;
}
h2 .hero .hero-inner .btn-group-custom {
  margin-top: 40px;
}
@media (max-width: 768px) {
  h2 .hero .hero-inner .btn-group-custom {
    margin-top: 20px;
  }
}
.alert-promo {
  background-color: #5a2230;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
}
.alert-promo .alert-link {
  color: #ffffff;
  text-decoration: none;
}
.about-promo {
  padding-bottom: 56px;
}
@media (max-width: 768px) {
  .about-promo {
    padding-bottom: 32px;
  }
}
.about-promo h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .about-promo h2 {
    font-size: 22px;
    margin-bottom: 16px;
  }
}
.about-promo h2 span {
  font-weight: 400;
  font-size: 28px;
}
@media (max-width: 768px) {
  .about-promo h2 span {
    font-size: 18px;
  }
}
ol.ol-promo {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin-block-start: 0;
  padding-left: 0;
}
ol.ol-promo li {
  counter-increment: my-awesome-counter;
  display: flex;
  margin-bottom: 8px;
}
ol.ol-promo li h4 {
  font-weight: 700;
  font-size: 18px;
}
@media (max-width: 768px) {
  ol.ol-promo li h4 {
    font-size: 16px;
  }
}
ol.ol-promo li:before {
  content: counter(my-awesome-counter) "";
  background: url(..//img/img-bg-ol-li.svg);
  background-repeat: no-repeat;
  color: #000000;
  font-weight: bold;
  width: 77px;
  height: 77px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  flex-shrink: 0;
}
.features {
  background-color: #5a2230;
  padding: 72px 0;
  color: #ffffff;
}
.features h3 {
  font-size: 30px;
  font-weight: 500;
}
.features h3 span {
  color: #e2b090;
}
.features .features-group {
  display: flex;
  flex-wrap: wrap;
}
.features .features-group .features-block {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 8px;
}
@media (max-width: 768px) {
  .features .features-group .features-block {
    width: 100%;
  }
}
.features .features-group .features-block p {
  margin-bottom: 0;
}
.features .features-group .features-block img {
  margin-right: 12px;
}
.about-us img {
  border-radius: 16px;
  box-shadow: 0px 11px 34px rgba(0, 0, 0, 0.18);
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .about-us img {
    margin-bottom: 24px;
  }
}
.about-us h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .about-us h3 {
    font-size: 22px;
  }
}
.join-section {
  background-color: #f3f3f3;
  padding: 56px 0;
  text-align: center;
}
.join-section h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
}
footer {
  background-color: #f3f3f3;
}
footer .footer-inner {
  padding: 16px 0;
}
footer .footer-inner .nav-link {
  color: #5a2230;
}
@media (max-width: 768px) {
  footer .footer-inner .nav {
    margin: 12px 0;
  }
}
footer .muted {
  opacity: 0.6;
  font-size: 14px;
  text-align: center;
}
footer.footer-split .footer-inner {
  border-top: 1px solid #dedede;
}
.image-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image-block img {
  margin: 12px;
}
.form-custom {
  background-color: #f3f3f3;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0px 17px 40px 0px #0000000d, 0px 5px 12px 0px #0000000f, 0px 1px 1px 0px #00000014;
}
.form-custom .form-control,
.form-custom .form-select {
  border-radius: 16px;
  border-color: transparent;
}
.form-custom a {
  color: #5a2230;
  text-decoration: none;
  font-weight: 600;
}
.form-custom a:hover {
  color: #a43e57;
}
.form-custom input[type="file"] {
  color: #adafb1;
}
.form-custom input[type="file"]::file-selector-button {
  background-color: #ece0d9;
  color: #5a2230;
  height: 58px;
}
.form-custom .input-group-text {
  color: #212529;
  background-color: white;
  border: 0;
  border-radius: 16px;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-steps {
  margin-bottom: 32px;
  position: relative;
  flex-wrap: nowrap;
}
.nav-steps:before {
  content: "";
  background: url(..//img/bg-steps-line.svg);
  background-repeat: repeat-x;
  padding: 0 60px;
  position: absolute;
  width: calc(100% - 120px);
  left: 60px;
  height: 2px;
  margin-top: 33px;
  z-index: -1;
}
.nav-steps .nav-item-steps {
  text-align: center;
}
.nav-steps .nav-item-steps i.step-icon {
  content: url(..//img/icon-step-def.svg);
}
.nav-steps .nav-item-steps a {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
.nav-steps .nav-item-steps a:hover {
  color: #333333;
}
.nav-steps .nav-item-steps-active i.step-icon {
  content: url(..//img/icon-step-act.svg);
}
.nav-steps .nav-item-steps-active a {
  color: #5a2230;
}
.nav-steps .nav-item-steps-active a:hover {
  color: #a43e57;
}
.nav-steps .nav-item-steps-next i.step-icon {
  content: url(..//img/icon-step-next.svg);
  margin: 11px 0;
}
