// main: style.less

@primary-patidar: #e2b090;
@secondary-patidar: #5a2230;
@neutral: #f3f3f3;
@black: #000000;
@white: #ffffff;
@gray: #354753;

@gradient-primary: linear-gradient(90deg, #d2611a 0%, #d29971 100%);

@gradient-neutral: linear-gradient(243.34deg, #fbfbfb 0%, #efefef 100.49%);

@img: "../img/";

@breakpoint-mobile: ~"(max-width: 767px)";
@breakpoint-tablet: ~"(max-width: 991px)";
@breakpoint-tablet-xl: ~"(max-width: 1220px)";

@transition: all 0.4s ease-in-out;

@border-radius: 16px;
@border-radius-mob: 8px;

@shadow-deep: 0px 11px 34px rgba(0, 0, 0, 0.18);
@shadow-primary: 0px 17px 40px 0px #0000000d, 0px 5px 12px 0px #0000000f,
  0px 1px 1px 0px #00000014;
