// main: ../style.less
.hero {
  margin-bottom: 72px;
  @media @breakpoint-mobile {
    margin-bottom: 32px;
  }
  h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    @media @breakpoint-mobile {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  p {
    font-size: 20px;
    @media @breakpoint-mobile {
      font-size: 18px;
    }
  }
  .hero-inner {
    text-align: center;
    .btn-group-custom {
      margin-top: 40px;
      @media @breakpoint-mobile {
        margin-top: 20px;
      }
    }
  }
}

.alert-promo {
  background-color: @secondary-patidar;
  color: @white;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin-bottom: 0;
  .alert-link {
    color: @white;
    text-decoration: none;
  }
}

.about-promo {
  padding-bottom: 56px;
  @media @breakpoint-mobile {
    padding-bottom: 32px;
  }
  h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
    @media @breakpoint-mobile {
      font-size: 22px;
      margin-bottom: 16px;
    }
    span {
      font-weight: 400;
      font-size: 28px;
      @media @breakpoint-mobile {
        font-size: 18px;
      }
    }
  }
}

ol.ol-promo {
  list-style: none;
  counter-reset: my-awesome-counter;
  margin-block-start: 0;
  padding-left: 0;
  li {
    counter-increment: my-awesome-counter;
    display: flex;
    margin-bottom: 8px;
    h4 {
      font-weight: 700;
      font-size: 18px;
      @media @breakpoint-mobile {
        font-size: 16px;
      }
    }
    &:before {
      content: counter(my-awesome-counter) "";
      background: url(..//img/img-bg-ol-li.svg);
      background-repeat: no-repeat;
      color: @black;
      font-weight: bold;
      width: 77px;
      height: 77px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      flex-shrink: 0;
    }
  }
}

.features {
  background-color: @secondary-patidar;
  padding: 72px 0;
  color: @white;
  h3 {
    font-size: 30px;
    font-weight: 500;
    span {
      color: @primary-patidar;
    }
  }
  .features-group {
    display: flex;
    flex-wrap: wrap;
    .features-block {
      width: 50%;
      display: flex;
      align-items: center;
      padding: 8px;
      @media @breakpoint-mobile {
        width: 100%;
      }
      p {
        margin-bottom: 0;
      }
      img {
        margin-right: 12px;
      }
    }
  }
}

.about-us {
  img {
    border-radius: @border-radius;
    box-shadow: @shadow-deep;
    margin-bottom: 32px;
    @media @breakpoint-mobile {
      margin-bottom: 24px;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    @media @breakpoint-mobile {
      font-size: 22px;
    }
  }
}

.join-section {
  background-color: @neutral;
  padding: 56px 0;
  text-align: center;
  h3 {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
  }
}

footer {
  background-color: @neutral;
  .footer-inner {
    padding: 16px 0;
    .nav-link {
      color: @secondary-patidar;
    }
    .nav {
      @media @breakpoint-mobile {
        margin: 12px 0;
      }
    }
  }
  .muted {
    opacity: 0.6;
    font-size: 14px;
    text-align: center;
  }
}

footer.footer-split {
  .footer-inner {
    border-top: 1px solid #dedede;
  }
}

.image-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  img {
    margin: 12px;
  }
}

.form-custom {
  background-color: @neutral;
  border-radius: @border-radius;
  padding: 40px;
  box-shadow: @shadow-primary;
  @media @breakpoint-mobile {
    padding: 24px;
  }
  .form-control,
  .form-select {
    border-radius: @border-radius;
    border-color: transparent;
  }
  a {
    color: @secondary-patidar;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      color: lighten(@secondary-patidar, 20%);
    }
  }
  input[type="file"] {
    color: #adafb1;
    &::file-selector-button {
      background-color: #ece0d9;
      color: @secondary-patidar;
      height: 58px;
    }
  }
  .input-group-text {
    color: #212529;
    background-color: white;
    border: 0;
    border-radius: 16px;
    padding-left: 15px;
    padding-right: 15px;
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    @media @breakpoint-mobile {
      font-size: 18px;
    }
  }
}

.form-plain-text-custom {
  a {
    color: #5a2230;
    text-decoration: none;
    font-weight: 600;
  }
  label {
    color: #354753;
    opacity: 0.7;
  }
  .form-control-plaintext {
    color: @black;
  }
}

.nav-steps {
  margin-bottom: 32px;
  position: relative;
  flex-wrap: nowrap;
  &:before {
    content: "";
    background: url(..//img/bg-steps-line.svg);
    background-repeat: repeat-x;
    padding: 0 60px;
    position: absolute;
    width: calc(100% - 120px);
    left: 60px;
    height: 2px;
    margin-top: 33px;
    z-index: -1;
  }

  .nav-item-steps {
    text-align: center;
    i.step-icon {
      content: url(..//img/icon-step-def.svg);
    }
    a {
      font-size: 14px;
      font-weight: 400;
      color: @black;
      &:hover {
        color: lighten(@black, 20%);
      }
    }
  }
  .nav-item-steps-active {
    i.step-icon {
      content: url(..//img/icon-step-act.svg);
    }
    a {
      color: @secondary-patidar;
      &:hover {
        color: lighten(@secondary-patidar, 20%);
      }
    }
  }
  .nav-item-steps-next {
    i.step-icon {
      content: url(..//img/icon-step-next.svg);
      margin: 11px 0;
    }
  }
}

.error-wrap {
  background-repeat: repeat-x;
  background-size: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    img {
      margin-bottom: 24px;
    }
  }
}

.badge-custom {
  border-radius: 2px;
  padding: 2px 6px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.badge-custom-fade {
  color: #354753;
  background-color: #e0e7ec;
  opacity: 0.6;
}

.muted {
  opacity: 0.6;
}

.card-custom {
  margin-bottom: 16px;
  img {
    border-radius: @border-radius;
    margin-bottom: 16px;
  }
  .card-description {
    h3 {
      font-size: 18px;
      @media @breakpoint-tablet {
        font-size: 14px;
      }
      span {
        font-size: 14px;
        font-weight: 400;
        @media @breakpoint-tablet {
          font-size: 12px;
        }
      }
    }
    .location {
      font-size: 14px;
      @media @breakpoint-tablet {
        font-size: 14px;
      }
    }
  }
}
