// main: ../style.less

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  @media @breakpoint-mobile {
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;
  font-weight: 600;
  @media @breakpoint-mobile {
    font-size: 24px;
  }
}

h4 {
  font-size: 24px;
  font-weight: 600;
  @media @breakpoint-mobile {
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
  font-weight: 600;
  @media @breakpoint-mobile {
    font-size: 18px;
  }
}

.text-block {
  ul {
    list-style: none;
    margin-bottom: 16px;
    padding-left: 6px;
    margin-left: 16px;
    li {
      list-style-image: url(../img/icon-list.svg);
      padding-left: 8px;
      margin-bottom: 8px;
      :before {
        content: "";
      }
    }
  }
  ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    padding: 0;
    li {
      counter-increment: my-awesome-counter;
      margin-bottom: 16px;
      &::before {
        content: counter(my-awesome-counter) ". ";
        color: @secondary-patidar;
        font-weight: bold;
        margin-right: 12px;
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.neutral-gradient {
  background: @gradient-neutral;
}

.section-mb {
  margin-bottom: 56px;
  @media @breakpoint-mobile {
    margin-bottom: 32px;
  }
}

.bg-pattern {
  background-image: url(..//img/img-bg-pattern.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @media @breakpoint-mobile {
    background-size: auto;
  }
}

.btn-group-custom {
  .btn {
    margin: 0 6px 12px 6px;
  }
}

.img-with-tags {
  position: relative;
  &::before {
    content: "Communicate";
    position: absolute;
    background: @secondary-patidar;
    color: @white;
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 40px;
    top: 32px;
    left: -24px;
    @media @breakpoint-mobile {
      padding: 8px 16px;
      font-size: 12px;
      top: 24px;
      left: -8px;
    }
  }
  &::after {
    content: "Build a relationship";
    position: absolute;
    background: @gradient-primary;
    color: @white;
    padding: 16px 32px;
    font-size: 16px;
    border-radius: 40px;
    top: 100px;
    left: -24px;
    @media @breakpoint-mobile {
      padding: 8px 16px;
      font-size: 12px;
      top: 64px;
      left: -8px;
    }
  }
}

.upperline {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: @primary-patidar;
}

.bodytext-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: @secondary-patidar;
  text-decoration: none;
  &:hover {
    color: lighten(@secondary-patidar, 20%);
  }
}

.page-title {
  text-align: center;
  margin-bottom: 56px;
  @media @breakpoint-mobile {
    margin-bottom: 24px;
  }
  h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    @media @breakpoint-mobile {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  .subtitle {
    font-size: 20px;
    @media @breakpoint-mobile {
      font-size: 18px;
    }
  }
}

.img-rounded {
  border-radius: @border-radius;
}

.deep-shadow {
  box-shadow: @shadow-deep;
}

i.icon-file {
  content: url(..//img/icon-attach.svg);
  margin-right: 8px;
}
.file-uploaded {
  color: #354753;
  display: flex;
  a {
    font-weight: 600;
    color: #354753;
  }
}
.profile {
  .profile-photo {
    img {
      border-radius: @border-radius;
      width: 100%;
      margin-bottom: 16px;
    }
    @media @breakpoint-mobile {
      display: none;
    }
    .profile-photo__additional {
      display: flex;
      width: calc(50% - 8px);

      img + img {
        margin-left: 16px;
      }
    }
  }
  .profile-photo-mobile {
    display: none;
    @media @breakpoint-mobile {
      display: block;
      border-radius: @border-radius-mob;
    }
  }
  .btns {
    margin-top: 24px;
    a {
      margin-bottom: 12px;
    }
  }
  .location {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 18px;
    &:before {
      content: url(..//img/icon-loc.svg);
      margin-right: 4px;
    }
  }
  .logout {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 18px;
    &:before {
      content: url(..//img/icon-logout.svg);
      margin-right: 4px;
    }
    a {
      font-weight: 600;
      color: @gray;
      text-decoration: none;
    }
  }
  aside {
    margin-bottom: 40px;
    @media @breakpoint-mobile {
      margin-bottom: 24px;
    }
    h2 {
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      span {
        font-size: 18px;
        font-weight: 500;
      }
    }
    ul {
      list-style: none;
      padding-left: 0;
      li {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        margin-bottom: 12px;
      }
      &.muted {
        opacity: 0.6;
      }
      @media @breakpoint-mobile {
        display: none;
      }
    }
  }
  .profile-content {
    padding-left: 32px;
    h1 {
      font-weight: 700;
      font-size: 38px;
      text-transform: uppercase;
    }
    @media @breakpoint-mobile {
      padding-left: 0;
      h1 {
        font-size: 20px;
        line-height: 1.2;
      }
    }
    a {
      font-weight: 600;
      color: @secondary-patidar;
      text-decoration: none;
    }
  }
}

.accordion-account-info {
  display: none;
  @media @breakpoint-mobile {
    display: block;
  }
  .accordion-body {
    padding-bottom: 2px;
    .profile-info {
      li {
        margin-bottom: 16px;
      }
      @media @breakpoint-mobile {
        display: block;
        margin-bottom: 0;
      }
    }
  }
}

.accordion-button {
  &:not(.collapsed) {
    color: #4d4d4d;
    background-color: #fff;
    box-shadow: none;
    &::after {
      background-image: url(..//img/icon-arrow.svg);
    }
  }
}

.alert-secondary {
  background-color: #f3f5f8;
  border-color: #94a2ab;
}

.carousel-responsive {
  margin-bottom: 64px !important;
  .slick-next {
    top: auto;
    bottom: -56px;
    right: 0px;
    width: 31px;
    height: 31px;
    &:before {
      content: url(..//img/icon-arrow-next.svg);
      border: 1px solid @secondary-patidar;
      padding: 2px 12px 7px 12px;
      border-radius: 2px;
      width: 31px;
      height: 31px;
    }
  }
  .slick-prev {
    top: auto;
    bottom: -56px;
    left: 0px;
    width: 31px;
    height: 31px;
    &:before {
      content: url(..//img/icon-arrow-prev.svg);
      border: 1px solid @secondary-patidar;
      padding: 2px 12px 7px 12px;
      border-radius: 2px;
      width: 31px;
      height: 31px;
    }
  }
  .slick-dots {
    bottom: -38px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    li {
      button {
        &:before {
          color: @secondary-patidar;
        }
      }
    }
  }
  .carousel-responsive-element {
    .card-custom {
      padding: 0 16px;
    }
  }
}
